@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{background-color: lightcyan;}


    div {
      border: dotted black;
      padding: 10px;
      margin: 10px;
    }

    th, td{border:1px solid black;
      padding: 10px;
      margin: 10px;}

    /*     CSS grid */
    .myhome {
      display: block;
      grid-template-columns: 1fr 3fr;
    }

     .container{
      display: grid;
    /*   비율을 100으로 줌 */
      height: 100vh;
      grid-template-columns: 0.1fr;
      grid-template-rows: 0.5fr 2fr 1fr;
      grid-template-areas: 
      /*   밑 클래스에서 grid-area로 이름을 설정 */
        "info"
        "end";
    }
    .middle{
        /*   grid-area로 이름을 설정 */
          grid-area: info;
          background-color: sandybrown;
        }
    .bottom{
        /*   grid-area로 이름을 설정 */
          grid-area: end;
          background-color: white;
        }


    /* media query */
    @media (min-width: 700px) {

    body{background-color: papayawhip;}

      div {
        border: 1px dotted black;
        padding: 10px;
        margin: 10px;
      }
        
      .homepage {
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
      
      h2 {
        font-size: 40px;
        text-align: center;
      }

      p{
      font-family: 'Jua', sans-serif;
      font-size: 10px;
      }
    }

    h2 {
      color: black;
      text-align: center;
      font-family: 'Gugi', cursive;
    }

    h1 {
      font-size: 50px;
      font-family: 'Gugi', cursive;
      text-align: center;
      border: 4px dotted gray;
      margin: 20px;
    }

    a {
      text-decoration: none;
      color: blue;
      font-family: 'Gugi', cursive;
    }

    .customName {
      font-size: 20px;
      background-color:black;
      border: 2px solid red;
      padding: 5px;
      width : 30%;
      text-align: center;
      margin: 10px;
    }

    .bts{
      font-size: 25px;
      color: purple;
    }
    
    .egypt{
          font-size: 20px;
          color: sandybrown;
        }

    p{
      font-family: 'Jua', sans-serif;
      font-size: 20px;
    }

    h3{
      font-family: 'Jua', sans-serif;
      font-size: 18px;
      color: teal;
    }

    .sizing{
      max-width: 100%; 
      height: auto;
    }

    .smallSizing{
      max-width: 50%; 
      height: auto;
    }


    .video-wrap {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
    .video-wrap iframe,
    .video-wrap object,
    .video-wrap embed {position:absolute; top:0; left:0; width:100%; height:100%;}