@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');

body{font-family: 'Gugi', cursive;}

    div {
      border: 1px dotted black;
      padding: 10px;
      margin: 10px;
    }

    th, td{border:1px solid black;
      padding: 10px;
      margin: 10px;}

    /*     CSS grid */
    .myhome {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }

    /* media query */
    @media (min-width: 500px) {

    body{background-color: lightcyan;}
      h2 {
        font-size: 40px;
        text-align: center;
      }

      .myhome {
        display: block;
      }
    }

    h2 {
      color: black;
      text-align: center;
    }

    h1 {
      font-size: 50px;
      font-family: 'Gugi', cursive;
      text-align: center;
      border: 4px dotted gray;
      margin: 20px;
    }

    a {
      text-decoration: none;
      color: blue;
      font-family: 'Gugi', cursive;
    }

    .customName {
      font-size: 20px;
      background-color:black;
      border: 2px solid red;
      padding: 5px;
      width : 250px;
      text-align: center;
      margin: 10px;
    }

