.login-header{
  margin-top:50px;
  margin-bottom: 50px;

  padding:0px 30px;
}
.login-header div{
  margin:20px 0px;
}
#login_form input{
  width: 90%;

  padding:20px 0px;
  border:none;
  outline:none;
  margin-bottom:15px;
}

#login_form input[type="text"],
#login_form input[type="password"]{
  border-bottom: var(--main-border);

  transition: border-bottom 0.5s ease-in-out;
}

#login_form input[type="submit"],
#login_form input[type="button"]{
  border-radius: 5px;
  cursor:pointer;
}

#login_form input[type="text"]:focus,
#login_form input[type="password"]:focus{
  border-bottom: var(--kakao-color) 1px solid;
 
}